<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div class="container">
        <div id="login-section" class="form-section hidden">
            <h2>Login</h2>
            <% if (locals.error) { %>
                <p style="color:rgb(230, 71, 71)"><%= locals.error %></p>
              <% } %>
            <form method="POST" action="/urlshort/login">
                <input type="email" placeholder="Enter email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Login</button>

                <!-- <p class="break">OR</p>

                <button class="google-login">Login with Google</button> -->
                
                <p class="forgot-pass"><a href="/forgotPassword">Forgot Password ?</a></p>
                <p class="signup">New here ? Start by creating your account <a href="/signup">sign up</a></p>
            </form>
        </div>
    </div>

    <script src="login.js"></script>
</body>

</html>