<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful</title>
    <link rel="stylesheet" href="/stylesheets/signUpSuccess.css">
</head>

<body>
    <div class="box">
        <div id="success-logo"><img src="/images/success.gif" width="100" alt="success"></div>
        <div class="success-text">
            <p>You have successfully created your account</p>
            <p>Go to <span><a href="/login">Login</a> page to access your account</p>
        </div>
    </div>
</body>

</html>